@page
@{
    ViewData["title"] = "Área Administrativa";
    Layout = "_Template";
}

<main class="container mt-3">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center mt-3">
            <h1>@ViewData["title"]</h1>
            <p>
                Esta é a área adm do site Sacolão online. Use os botões na parte superior para navegar.
            </p>
        </div>
    </div>
</main>