@page
@model IndexModel
@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <br />

    <h1 class="display-4">BemVindo!</h1>
    <hr />
    <h1 class="display-4">Sacolão Online</h1>
    <p>Este é um catálogo de produtos criado com a geração automática de CRUD baseada em Modelo, presente no Visual Studio 2022.</p>
</div>
